@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tangerine:wght@700&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
*{
   margin: 0; 
   padding: 0;
   box-sizing: border-box;
   text-decoration: none;
   border: none;
   outline: none;
   scroll-behavior: smooth;
   font-family: 'Open Sans', sans-serif;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
}


section{
    max-width: 100%;
    min-height: 100vh;
    padding: 10rem 9% 2rem 9%;
}

header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 12%;
    padding: 0rem 8% ;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    background-color: #faeee1;
}
header img{
    height: 6rem;
 }

.navbar a{
    font-size: 1.5rem;
    font-weight: 700;
    color: #1f1101;
    margin-left: 3rem;
    transition: .3s;
}

.navbar a:hover,
.navbar a.active{
    color: #635c40;
}

/* =============Home Section============ */
.home{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    background: #faeee1;
}

.home-content{
    display: flex;
    flex-direction: column;
    gap: 3.8rem;
}

.home-content h3{
    font-size: 1.5rem;
    text-transform: uppercase;
    letter-spacing: .15rem;
    font-weight: 800;
    color: #1f1101;

}

.home-content h2{
    font-size: 2.5rem;
    line-height: 3rem;
    color: #1f1101;

}

.home-content h2 span{
    font-size: 3.8rem;
    line-height: 4rem;
}

.home-content h3 span{
    font-family: "Dancing Script", cursive;
    font-size: 4.5rem;
    text-transform: none;
    letter-spacing: -.1rem;
    color: #ce4a55 ;
}

.home-content button{
    border: .2rem solid #635c40;
    color: #635c40;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.5rem;
    font-weight: 600;
    background: transparent;
    width: 15rem;
    padding: .8rem 1rem;
    border-radius: 2rem;
    transition: .5s ease;
}

.home-content button:hover{
    color: #fff;
    background: #635c40;
    cursor: pointer;
}

/* ===================Special section============= */
.special{
    padding: 0;
}
.special-container{
    display: flex;
    width: 100%;
}

.special-container .cake-img{
    overflow: hidden;
    position: relative;
    box-shadow: .5rem .4rem .6rem #8b8b8b;
    height: 80vh;
    width: 50vw;
    margin: 4rem 0 2rem 8%;
    border-radius: 0;
}

.cake-img img{
    width: 100%;
    height: 100%;
    border-radius: 0;
}

.special-container .overlay{
    height: 15%;
}

.special-content{
    background: #ececec;
    margin: 8rem 0 ;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 5% 9%;
    gap: 4rem;
    width: 80vw;
}

.special-content h2{
    font-size: 4rem;
    color: #1f1101;
}

.special-content h3{
    font-size: 3.2rem;
    color: #635c40;
}

.special-content p{
    font-size: 1.6rem;
    font-weight: 600;
}

/* ============Categories section============= */
.categories h2{
    font-size: 3.8rem;
    color: #1f1101;
    margin-bottom: 4.5rem;
}
.card-content h2{
    font-size: 3rem;
}

.category-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
}

.category-card{
    box-sizing: border-box;
    width: 30vw;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 2.5rem;
    position: relative;
    transition: .5s ease;
    overflow: hidden;
    border: .1rem solid #fff;
    box-shadow: -.8rem .5rem 1rem #888888b7;
}

.category-card img{
    width: 100%;
    transition: .5s ease;
}

.category-card .card-content{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    transition: 0.5s ease;
    background: #00000071;
    cursor: pointer;
}

.category-card:hover img{
    transform: scale(1.5);
    transform-origin: 50% 50%;
}

.category-card .card-content h2{
    font-size: 2rem;
    letter-spacing: .25rem;
    color: #fff;
    text-align: center;
}

.customize{
    width: 100%;
    margin: 10rem 0rem 0rem 0rem ;
}

.customize-card{
    width: 100%;
    height: 70vh;
    display: flex;
    gap: 18rem;
    background-color: #c7be95;
    box-shadow: .5rem .3rem .6rem #25252591;
    border-radius: 2rem;
    overflow: hidden;
}
.customize-card .customize-img{
    box-sizing: border-box;
    border-bottom: .5rem solid #918864;;
    border-radius: 0 50% 50% 0;
    overflow: hidden;
    box-shadow: .6rem 0 .8rem #505050;
}

.customize-card img{
    height: 100%;
    width: 40vw;
}

.customize-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
}

.customize-content h2{
    text-align: right;
    font-size: 5.5rem;
    line-height: 5.7rem;
    color: #ce4a55;
    font-family: "Dancing Script", cursive;

}

.customize-content h2 span{
    text-transform: uppercase;
    color: #1f1101;
    font-size: 4.5rem;
    font-family: 'Open Sans', sans-serif;
}

.customize-content button{
    border: .2rem solid #635c40;
    color: #635c40;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.5rem;
    font-weight: 600;
    background: transparent;
    width: 15rem;
    padding: .8rem 1rem;
    border-radius: 2rem;
    transition: .5s ease;
    margin-top: 5rem;
}

.customize-content button:hover{
    color: #fff;
    background: #635c40;
    cursor: pointer;
}

/* =========Featured cakes============== */
.cakes{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cakes h2{
    font-size: 4.5rem;
    color: #1f1101;
}

.cake-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-items: center;
    gap: 4rem;
    padding: 5.7rem 0;
}

.cake-card .cake-img{
    overflow: hidden;
    position: relative;
    border-radius: 2rem;
    box-shadow: .5rem .4rem .6rem #8b8b8b;
    height: 22.5rem;

}



.overlay{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 28%;
    display: flex;
    justify-content:flex-end;
    align-items: center;
    overflow: hidden;
    transition: 0.5s ease;
    background: transparent;
    cursor: pointer;
    transform: translateY(100%);
    border-radius: 0 0 2rem 2rem;
}

.overlay i{
    color: #fff;
    background: #1f1101;
    font-size: 1.6rem;
    padding: 1rem;
    border-radius: 50%;
    margin-right: 1rem;
}

.overlay i:hover{
    color: #c7be95;
    background: #1d0f00;
}

.cake-img:hover .overlay{
    transform: translateY(0%);
}

.cake-card p{
    font-size: 1.45rem;
    font-weight: 700;
    color: #524230;
    padding-left: .8rem;
}

.cake-card p.name{
    padding-top: .8rem;
    font-size: 1.72rem;
}

/* ===========Footer================ */
.footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    flex-wrap: wrap;
    padding: 3rem 9% 2rem;
    background: #1f1101;
    height: 40vh;
}

.footer .logo img{
    height: 5rem;
    padding-right: .4rem;
}

.social-media h4{
    font-size: 1.8rem;
    color: #fff;
}


.footer-text p{
    font-size: 1.4rem;
    color: #fff;
}

.footer-top-icon a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 1.6rem;
    border-radius: 50%;
    transition: .5s ease;
    background: #524230;
    
}

.footer-top-icon a:hover{
    box-shadow: 0 0rem 1rem #524230;
}

.footer-top-icon a i{
    font-size: 1.5rem;
    color: #fff;
}

.media-icons{
    display: inline-flex;
    gap: 1rem;
    justify-content: center;
    align-items: center;
}
.media-icons i{
    font-size: 2rem;
    color: #fff;
    padding: 1rem .2rem 1rem .4rem;
}

.media-icons i:hover{
    color: #635c40;
}